<div class="row justify-content-center">
  <div class="col-">
    <h1>Classroom Introduction</h1>
  </div>
</div>
<div class="contents1">
    <div class="row contents-row">
      <div class="col-xs-11 offset-xs-1 col-md-6 col-lg-5 offset-lg-2">
        <div class="contents-img">
          <%= image_tag('lesson-img.jpg') %>
        </div>
      </div>
      <div class="col-xs-11 offset-xs-1 col-md-6 col-lg-5 offset-lg-2 comment left">
        <h3>落ち着いた自宅レッスン</h3>
        <p>
          レッスンは基本的に自宅のリビングで<br>
          アットホームな雰囲気の中、<br>
          リラックスしながら行っています。
        </p>
      </div>
    </div>
</div><!-- contents1 -->

<div class="contents">
  <div class="row contents-row">
      <div class="col-sm-11 offset-sm-1 col-md-4 offset-md-2 comment right">
        <h3>楽しく覚える</h3>
        <p>
          ゲームをしたり、<br>
          歌を歌ったり、<br>
          体を動かしたりしながら<br>
          楽しく英語を勉強しています。
        </p>
      </div>
      <div class="col-sm-11 offset-sm-1 col-md-4">
        <div class="contents-img">
          <%= image_tag('english.jpg') %>
        </div>
      </div>
  </div>
</div><!-- contents -->

<div class="contents">
  <div class="row contents-row">
    <div class="col-sm-11 offset-sm-1 col-md-4 offset-md-2">
        <div class="contents-img">
          <%= image_tag('cafe.jpg') %>
        </div>
      </div>
      <div class="col-sm-11 offset-sm-1 col-md-4 comment left">
        <h3>大人もOK</h3>
        <p>
          大人の方はカフェなどでの<br>
          マンツーマンレッスンも<br>
          受け付けております。
        </p>
      </div>
  </div>
</div><!-- contents -->

<div class="contents">
  <div class="row contents-row">
      <div class="col-sm-11 offset-sm-1 col-md-4 offset-md-2 comment right">
        <h3>個人だからできること</h3>
        <p>
          1人1人の様子やレベルを見ながら<br>
          それぞれのペースに合わせてレッスンします。<br>
          また、振替や時間の変更などにも<br>
          柔軟に対応できます。
        </p>
      </div>
      <div class="col-sm-11 offset-sm-1 col-md-4">
        <div class="contents-img">
          <%= image_tag('lesson-img2.jpg') %>
        </div>
      </div>
  </div>
</div><!-- contents -->
