<div class="container-fluide">
  <div class="row justify-content-center">
    <div class="col-">
      <h1>Contact & Access</h1>
    </div>
  </div>
  <div class="row contact-row">
    <div class="col-12">
      <h2 class="title">Contact</h2>
    </div>
    <div class="col-12">
      <p class="dis">
        月曜日〜土曜日、10時〜17時まで応対可能です。<br>
        メールアドレスがございませんので、恐れ入りますが<br>
        メールの方はショートメールにてご連絡ください。<br>
        FacebookのMessengerでも対応可能です。<br>
        ご不便をおかけしますが、よろしくお願い致します。
      </p>
      <p class="dis">Tel : 090-3555-2908</p>
      <p class="dis">Mail : 上記番号にショートメールでお願いいたします。</p>
      <p class="dis" onclick="facebookLink();"><%= image_tag('facebook1.png', { class: "facebook" }) %></p>
    </div>
  </div>
  <div class="row contact-row">
    <div class="col-12">
      <h2 class="title">Access</h2>
    </div>
    <div class="col-12">
      <p class="dis">
        七井戸公園裏の住宅街、<br>
        大きなピンクのハニワのあるお家の隣です。
      </p>
      <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1619.7093807010633!2d140.1926868!3d35.7159184!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x602288afd40f834b%3A0xb543e42d4824b340!2z44CSMjg1LTA4MzQg5Y2D6JGJ55yM5L2Q5YCJ5biC5ZCJ6KaL77yS77yV77yS!5e0!3m2!1sja!2sjp!4v1498488071402" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
