<div class="row justify-content-center">
<div class="col-">
  <h1>Course & Price</h1>
</div>
</div>
<div class="row course-description">
  <div class="col-sm-12 col-md-6 course">
    <div class="course-text">
      <h3>3〜6歳　幼児コース</h3>
    </div>
    <p>
      週1回　1時間<br>
      ￥4,500
    </p>
  </div>
  <div class="col-sm-12 col-md-6 lesson-img">
    <%= image_tag('infant-course-img.png') %>
  </div>
</div>

<div class="row course-description">
  <div class="col-sm-12 col-md-6 course">
    <div class="course-text">
      <h3>7〜12歳　小学生コース</h3>
    </div>
    <p>
      週1回　1時間<br>
      ￥4,500
    </p>
  </div>
  <div class="col-sm-12 col-md-6 lesson-img">
    <%= image_tag('child-course-img.png') %>
  </div>
</div>

<div class="row course-description">
  <div class="col-sm-12 col-md-6 course">
    <div class="course-text">
      <h3>大人コース</h3>
    </div>
    <p>
      1レッスン50分〜<br>
      ￥1,500（1レッスン）
    </p>
  </div>
  <div class="col-sm-12 col-md-6 lesson-img">
    <%= image_tag('adult-course-img.png') %>
  </div>
</div>

<div class="row course-description">
  <div class="col-12 course">
    <div class="course-text">
      <h3>無料体験レッスン</h3>
    </div>
    <p>
      週1回、1ヶ月の無料体験レッスンをご用意しております。<br>
      内容は通常のレッスンと全く同じです。<br>
      時間や曜日はお気軽にご相談ください。<br>
      まずは一歩踏み出して、この雰囲気を体験してみてください。<br>
      お待ちしております。
    </p>
  </div>
</div>
