<div class="container">
  <div class="teacher-contents">
    <div class="container-fluide">
      <div class="row justify-content-center">
        <div class="col-">
          <h1>Instructor Introduction</h1>
        </div>
      </div>
     <div class="row justify-content-center">
        <div class="col-sm-12 col-md-4">
          <%= image_tag('teacher_img2.jpg', { class: 'teacher-img' }) %>
        </div>
        <div class="col-sm-12 col-md-4 name">
          <%= image_tag('JeanniferSasaki.jpg', { alt: "JeanniferSasaki"}) %>
        </div>
      </div>
      <div class="row">
        <div class="col- col-md-10 offset-md-2">
          <div class="teacher-introduction">
            <h4>Career</h4>
            <p>セントルイス大学にて、経営学とマーケティングの学位取得。</p>
            <p>
              IIEEC（英語教師トレーニングセンター）と、オックスフォード大学出版局合同の<a href="http://www.iieec.com/training/iieec-oup.html">児童英語教師認定コース</a>を受講。<br>
              修了証取得。
            </p>
            <p>
              <a href="http://ltprofessionals.com/etj">ETJ</a>にて英語教師のスペシャルセミナー受講
            </p>
            <p>
              Advance Teacher Training参加
            </p>
            <p>
              English Teaching to Childrenの修了証取得
            </p>
            <h4>Comment</h4>
            <p>
              IIEEC＆Oxford University Press児童英語教師の認定を受けた講師が教えます。<br>
              目標に"ASK（質問する）"　"ANSWER（答える）"　" TELL（伝える）"　"TALK（会話する）"の4つを掲げ、<br>
              生徒が「英語で考え、互いに質問し、会話できるようになること」を目指してレッスンしています。<br>
              具体的にはジェスチャーやイラスト、歌などを使って理解の手助けをし、単語は繰り返し発音して練習をしています。<br>
              もちろん話すだけではなく、読み書きのレッスンも行います。<br>
              子どもから大人まで楽しく英語を学べるよう、ゲームや遊びなども取り入れ、<br>
              時には和気藹々とおしゃべりをしながら、リラックスしてレッスンを進められるよう心がけております。<br>
              そして、それぞれのモチベーションや進み具合などを逐次把握し、どの生徒さんにも無理のないペースを心がけています。<br>
              英語で会話できる喜びを一緒に感じましょう！
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
