<div class="container-fluid footer">
  <div class="row footer-row">
    <div class="col-11 offset-1 col-lg-4 offset-lg-2 otoiawase">
        <p>Tel : 090-3555-2908</p>
        <p>Mail : ショートメールでお願いいたします。</p>
        <p>月〜土曜日</p>
        <p>時間 : 10時〜17時</p>
        <p onclick="facebookLink();"><%= image_tag('facebook1.png', { alt: 'facebook', class: "facebook" }) %></p>
    </div>
    <div class="col-11 offset-1 col-lg-4 access">
        <p>住所 : 千葉県佐倉市吉見255-7</p>
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1619.7093807010633!2d140.1926868!3d35.7159184!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x602288afd40f834b%3A0xb543e42d4824b340!2z44CSMjg1LTA4MzQg5Y2D6JGJ55yM5L2Q5YCJ5biC5ZCJ6KaL77yS77yV77yS!5e0!3m2!1sja!2sjp!4v1498488071402" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="copyright">
      <p>© 2017 YoshimiPrimaryEnglishStudio</p>
    </div>
  </div>
</div><!-- footer -->
